# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
env/
venv/
.venv/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Django
# ==========================================
db.sqlite3
media/
staticfiles/

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# Test / Coverage
# ==========================================
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.cache/

# ==========================================
# Mypy
# ==========================================
.mypy_cache/

# ==========================================
# Ruff
# ==========================================
.ruff_cache/

# ==========================================
# PyCharm
# ==========================================
.idea/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Linux
# ==========================================
*~

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Build
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Docker
# ==========================================
docker-data/

# ==========================================
# Terraform
# ==========================================
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ==========================================
# Kubernetes Secrets
# ==========================================
*.secret.yaml

# ==========================================
# IDE Temp Files
# ==========================================
*.swp
*.swo

node_modules
package-lock.json