_format_version: "3.0"

consumers:
  - username: user-service-issuer
    jwt_secrets:
      - algorithm: HS256
        key: "applica-user-service"
        secret: "__KONG_JWT_SECRET__"

plugins:
  - name: cors
    config:
      origins:
        - "http://localhost:3000"
      credentials: true
      headers:
        - Accept
        - Content-Type
        - Authorization
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS

  - name: correlation-id
    config:
      header_name: X-Request-ID
      generator: uuid
      echo_downstream: true

  - name: internal-secret-auth
    config:
      gateway_secret: "${LAMBDA_DISPATCH_SECRET}"
      injected_header_value: notification-dispatcher
      max_clock_skew_seconds: 300

services: