# database
DATABASE_URL=

# gateway
GATEWAY_INTERNAL_SECRET=

# aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=

# openrouter
OPENROUTER_MODEL=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=

# clery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# embedding
VOYAGE_API_KEY=